<div data-elementor-type="wp-page" data-elementor-id="132" class="elementor elementor-132">
    
  <section class="elementor-section elementor-top-section elementor-element elementor-element-fd40148 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="fd40148" data-element_type="section">
    <div class="elementor-container elementor-column-gap-no">
    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-52a7f49" data-id="52a7f49" data-element_type="column">
    <div class="elementor-widget-wrap elementor-element-populated">
    <div class="elementor-element elementor-element-a86a305 elementor-widget elementor-widget-solapa-project" data-id="a86a305" data-element_type="widget" data-widget_type="solapa-project.default">
    <div class="elementor-widget-container">
    <!-- Project One -->
    <section class="project-one">
        <div class="container">
        <!-- Section Title -->
        <div class="section-title centered">
  
                            <h2 class="section-title__title"> Basket Ball </h2>
  
        </div>
  
        <div class="three-item-carousel owl-theme owl-carousel thm-owl__carousel" data-owl-options='        {
        "loop": true,
        "margin": 30,
        "items": 3        ,"nav": true                    ,"navText": [
        "<i class=\" fa fa-angle-left\"></i>",
        "<i class=\" fa fa-angle-right\"></i>"
        ]
        ,"dots": true        ,"smartSpeed": 700
        ,
        "responsive":
        {
        "0": {
        "margin": 0,
        "items": 1                },                            "768": {
        "margin": 30,
        "items": 2                },                            "1200": {
        "margin": 30,
        "items": 3                }                        }
        }
        '>
                                    <!-- Project One -->
        <div class="project-one__single">
        <div class="project-one__image">
        <img decoding="async"  src="assets/images/basket6.jpg" alt="alt" />
  
        </div>
        </div>
                    <!-- Project One -->
        <div class="project-one__single">
        <div class="project-one__image">
        <img decoding="async" src="assets/images/basket2.jpg" alt="alt" />
  
        </div>
        </div>
         <!-- Project One -->
         <div class="project-one__single">
            <div class="project-one__image">
            <img decoding="async" src="assets/images/basket3.jpg" alt="alt" />
  
            </div>
            </div>
           
  
                        <!-- Project One -->
           
         <!-- Project One -->
        <div class="project-one__single">
        <div class="project-one__image">
        <img decoding="async" src="assets/images/basket8.jpg" alt="alt" />
  
        </div>
        </div>
        <div class="project-one__single">
            <div class="project-one__image">
            <img decoding="async" src="assets/images/basket5.jpg" alt="alt" />
      
            </div>
            </div>
      
  
  
  
                        </div>
        </div>
        </section>
        <!-- End Project One -->
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
  </div>
  


<section class="purpose-one">
    <div class="container">
        <div class="row clearfix">
            <div class="col-lg-7 col-md-12 col-sm-12">
                                        <h2 class="purpose-one__title">Notre dscipline Basket </h2>
                                                            <div class="purpose-one__text">Good Energy was founded over two decades ago to give people a <br> way to be part of a practical solution to climate change. This has <br> been our purpose ever since.</div>
                                    <div class="row clearfix">
                    <div class="col-lg-5 col-md-12 col-sm-12">
                                                        <div class="purpose-one__image">
                                <img decoding="async" src="assets/images/basket9.jpg" alt="alt" />
                            </div>
                                                </div>
                    <div class="col-lg-7 col-md-12 col-sm-12">
                                                        <h3 class="purpose-one__title-two">Description : </h3>
                                                                                    <div class="purpose-one__text-two">Lorem ipsum dolor sit amet, consectetur nod adipisicing elit sed do eiusmod tempor incidid unt ut siply free text ois labore et
dolore magna aliqua lonm andhn.</div>
                                                                                   
                                                </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12">
                                        <div class="purpose-one__image">
                        <img decoding="async" src="assets/images/basket5.jpg" alt="alt" />
                    </div>
                                </div>
        </div>
    </div>
</section>
