  <!-- the loop -->
  <div data-elementor-type="wp-post" data-elementor-id="596" class="elementor elementor-596">
    <section class="elementor-section elementor-top-section elementor-element elementor-element-60545f3 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="60545f3" data-element_type="section">
<div class="elementor-container elementor-column-gap-no">
<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-332c7d7" data-id="332c7d7" data-element_type="column">
<div class="elementor-widget-wrap elementor-element-populated">
<div class="elementor-element elementor-element-5f7b82f elementor-widget elementor-widget-solapa-header" data-id="5f7b82f" data-element_type="widget" data-widget_type="solapa-header.default">
<div class="elementor-widget-container">

<!-- Header Style One -->
<header class="main-header">

    <app-nav-bar1></app-nav-bar1>
    <app-nav-bar2></app-nav-bar2>

</header>
<!-- End Main Header -->

<span data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-arrow-up"></i></span>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
<!-- end of the loop -->