<!-- Header Top -->
<div class="main-header__top">
    <div class="container clearfix">
    
    <div class="pull-left">
    <ul class="main-header__info">
                        <li><a   href="contact/index.html">
        <span aria-hidden="true" class=" icon  icon-location"></span>									27 Division St, New York, NY								</a>
    </li>
                        <li><a   href="mailto:helpus24@gmail.com">
        <span aria-hidden="true" class=" icon   icon-email"></span>									helpus24@gmail.com								</a>
    </li>
                </ul>
    </div>
    
    <div class="pull-right clearfix">
                <div class="main-header__top-text">Wind Energy for Enriching the World</div>
                                    <div class="main-header__top-estimate"><a   href="contact/index.html">GET ESTIMATE</a></div>
        </div>
    </div>
    </div>
    