<!-- Header Top -->
<div class="main-header__top">
    <div class="container clearfix">

    <div class="pull-left">
    <ul class="main-header__info">
                        <li><a   href="contact/index.html">
        <span aria-hidden="true" class=" icon  icon-location"></span>									AVENUE L. BRAILLE TUNIS BELVEDERE TUNIS							</a>
    </li>
                        <li><a   href="mailto:helpus24@gmail.com">
        <span aria-hidden="true" class=" icon   icon-email"></span>									helpus24@gmail.com								</a>
    </li>
                </ul>
    </div>

    <div class="pull-right clearfix">
      <div class="main-header__top-estimate"><a   href="contact/index.html">Se connecter </a></div>
                                    <div class="main-header__top-estimate"><a   href="contact/index.html">Créer compte</a></div>
        </div>
    </div>
    </div>
